.custom-form-container {
  background-color: var(--main-bg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.custom-task-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.custom-task-imp {
  border-radius: 25px;
  padding: 8px 12px;
  border: 2px solid #dddada;
}

.custom-form-group label {
  font-family: var(--label-font);
  font-size: 13px;
}

textarea {
  resize: vertical;
}

.custom-btn {
  padding: 8px 12px;
}

.custom-btn-primary {
  background-color: var(--title-color);
  border-color: var(--title-color);
}

.custom-btn-primary:hover {
  background-color: rgb(8, 73, 96);
  border-color: rgb(8, 73, 96);
  color: #fff;
}

.custom-btn-danger {
  width: 100%;
  max-width: 150px;
  color: #fff;
  background-color: rgb(233, 4, 0);
  border-color: rgb(233, 4, 0);
}
.custom-btn-danger:hover {
  width: 100%;
  max-width: 150px;
  color: #fff;
  background-color: rgb(123, 10, 8);
  border-color:  rgb(123, 10, 8);
}
